.top-bar {
  display: flex;
  flex-direction: row;
  background-color: #015f74;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.top-bar__logo {
  height: 60px;
  width: 60px;
}

.top-bar__menu-icon {
  height: 40px;
  width: 40px;
}
