.timeline__container {
  text-align: center;
  background: var(--main-theme);
  color: var(--light-background);
  min-height: 300px;
  width: 100%;
}
.timeline__container-mobile {
  min-height: 200px;
  margin-top: -1rem;
}

.timeline__title-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.timeline__title-container.mobile {
  display: grid;
  min-height: 200px;

  align-items: center;
  justify-content: center;
}

.timeline__title-container h2 {
  font-size: 125px;
  font-weight: 900;
  font-family: "GothamBold";
  letter-spacing: 40px;
  z-index: 0;
}

.timeline__carousel {
  margin-top: -13rem;
  padding: 5px;
  width: 100%;
  z-index: 1;
}
.timeline__mobile-item {
  font-size: 86px;
  line-height: 86px;
}

.timeline__title-container.mobile h2 {
  font-size: 52px;
  font-weight: 900;
  font-family: "GothamBold";
  line-height: 60px;
  letter-spacing: 10px;
  opacity: 0.2;
}
.timeline__title-container.mobile h2.timeline__mobile-item {
  font-size: 80px;
  opacity: 1 !important;
}

.timeline__above,
.timeline__below {
  position: relative;
  opacity: 0.6;
  z-index: 1;
}

.timeline__below {
  margin-top: -115px;
}
.timeline__years {
  background: var(--main-theme);
  text-align: center;
  padding: 11px;
  min-height: 70px;
  position: absolute;
  margin: 0 auto;
  margin-top: -134px;
  z-index: 2;
  width: 90%;
  padding-top: 18px;
}

.timeline__years h3 {
  color: var(--light-background);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  font-family: "GothamBold";
}

.timeline__year-active,
.timeline__year-arrow {
  color: var(--secondary);
}

.timeline__year-arrow {
  font-size: 14px;
  margin: 0 8px;
  font-weight: 800;
  color: var(--secondary);
}
