.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  box-sizing: border-box;
}

.section__single {
  background: var(--main-background);
}

.section__segment {
  background: var(--light-background);
}

.section__resume {
  border-top: 10px solid var(--secondary);
  background: var(--main-theme);
}
.section__container {
  font-family: "GothamBook";
  font-size: 1.2rem;
  text-align: justify;
  padding: 60px;
}

.section__line {
  margin-top: 25px;
  width: 100%;
  height: auto;
  padding-left: 25px;
  border-left: 10px solid var(--secondary);
}

.section__resume .section__description,
.section__resume .section__title {
  color: var(--light-background);
}
.section__resume .section__container {
  color: var(--light-background);
}

.section__segment .section__title {
  color: var(--main-theme);
}

.section__segment .section__container {
  color: var(--text);
}

.section__segment .section__description {
  color: var(--text);
}

.section__description {
  padding: 5px;
  text-align: center;
  font-family: "GothamBook";
  font-synthesis: none;
  font-size: 17px;
  margin-bottom: 30px;
  color: #969696;
  flex-shrink: 0;
  min-width: auto;
}

.section__title {
  font-family: "GothamBold";
  font-synthesis: none;
  font-synthesis: none;
  font-size: 27px;
  color: #205979;
  flex-shrink: 0;
}

@media (min-width: 320px) {
  /* .row {
    display: block;
  } */
  .section__container {
    padding: 10px !important;
    width: 100%;
  }
  .section__line {
    border: none;
    padding: 0 !important;
  }
  .col {
    flex: none;
  }
}

@media (min-width: 576px) {
  .col {
    flex: 1 0 0%;
  }
  .section__container {
    padding: 10px !important;
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
